<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        
        <div v-for="item in todoItems" style="padding: 0 10px; border: 1px solid; display: flex; flex-direction: row; align-items: center;">
            <button v-on:click="item.isEditing = !item.isEditing"> ✏️ </button>
            <p> {{item.text}} <p>
            <input v-model="item.checked" type="checkbox" />
            <button v-on:click="item.isEditing = !item.isEditing"> ✏️ </button>
            <p> {{item.text}} <p>
            <input v-model="item.checked" type="checkbox" />
            
        </div>
        <div v-for="item in todoItems" style="padding: 0 10px; border: 1px solid; display: flex; flex-direction: row; align-items: center;">
            <input v-model="newToDoItemText" type="text" />
            <button v-on:click="addNewItem()"> Add Item </button>
        </div>
        <pre> {{ todoItems }}</pre>
    </div>

<script type="module">
  import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'


  createApp({
     methods:{
        addNewItem(){
            this.todoItems.push()
            {
                id: Math.random().toString(36)
                text: this.newToDoItemText;
                checked: false;
                isEditing: false;
            }
            this.newToDoItemText = ''
        },
        removeItem(itemToRemove){
            this.todoItems()
        }
     },
     watch: {
        todoItems() {
            
        }
     },
    data(){
        return{
            newToDoItemText: '',
            todoItems: [
                {
                    id: 'asdasd',
                    text: "text",
                    checked: false,
                    isEditing: false,

                }
            ]
        }
    }
  }).mount('#app')
</script>
</body>
</html>