<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1> Zadaj svoje meno </h1>
        <input v-model="firstName" type="text" placeholder="firstName">
        <input v-model="lastName" type="text" placeholder="lastName">
        <button v-on:click="greetUser()"> Submit </button>
        <h1> Tvoje meno je {{ firstName }} {{ lastName }}</h1>
    </div>

    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
        data(){
            return{
                firstName: '',
                lastName: ''
            }
        },
        computed: {
            fullName() {

            }
        },
        methods: {
            greetUser() {
                alert('Vitaj $(this.firstName) $(this.lastName)')
            }
        }
        }).mount('#app')
    </script>
</body>
</html>